.container {
  position:relative;
  stroke: #91d5ff;
  width: fit-content;
  height: fit-content;
}

.container:hover {
  stroke: #69c0ff;
}

.handle {
  fill: white;
  stroke-width: 2;
}

.selected {
  fill:#69c0ff;
  opacity:0.2;
}

.circle {
  fill: transparent;
  stroke-width: 4;
}

.backgroundCircle {
  stroke: #dedede;
}

.arc {
  fill: none;
  stroke-width: 4;
}

.degreeField {
  position: absolute;
}

.degree {
  display: inline-block;
  position: relative;
}

.degree::after {
  position: absolute;
  top: 2px;
  right: 1px;
  content: '°';
}

.input {
  width: 30px;
  height: 20px;
  padding:1px 2px;
  text-align: left;
  text-indent: 1px;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size:14px;
  box-sizing: content-box;
}

.selectedDegree,
.input:focus {
  border: 1px solid #69c0ff;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%)
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}
