.container {
  position:relative;
  width: fit-content;
  height: fit-content;
}

.degreeField {
  position: absolute;
}

.degree {
  display: inline-block;
  position: relative;
}

.degree::after {
  position: absolute;
  top: 2px;
  right: 5px;
  content: '°';
}

.input {
  width: 50px;
  height: 30px;
  padding:1px 5px 1px 10px;
  text-align: left;
  text-indent: 1px;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 2px;
  font-size:14px;
  box-sizing: border-box;
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type=number] {
  -moz-appearance: textfield;
}
