.container {
  font-family: Roboto, "Open Sans", sans-serif;
}

.formLabel {
  font-variant: tabular-nums;
  color: #16304e;
  margin-bottom: 4px;
  font-weight: 500;
  font-size:14px;
}

.input {
  width: 30px;
  height: 25px;
  padding: 0 8px;
  margin: 2px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  outline: 2px;
}

.input:hover {
  border: 1px solid #40a9ff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
